/* 
=============
Variables
=============
 */

:root{
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --primary-text-color :#718096;
  --ff-primary: 'Inter',sans-serif;
  --transition: all 0.3s linear;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #718096;
}

/* global css */
body{
  background-color: #f8f8f8;
  line-height: 1.8;
  font-family: var(--ff-primary);
  color: white;
}

h2{
  line-height: 1.33;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

h3{
  line-height: 1.33;
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-text-color);
}
/* 
=============
Section Center
=============
 */

.section-center{
  /* padding: 4rem 0; */
  width: 85vw;
  margin: 0 auto;
  max-width: 1080px;
  /* background-color: red; */
  margin-top: 3rem;
  margin-bottom:3rem ;
  min-height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: 3fr;
  column-gap: 1rem;
}

.branding_and_card{
  display: grid;
  grid-template-rows: 2fr 5fr;
  row-gap: 1rem;
}

.branding{
  /* background-color: yellow; */
  background: linear-gradient( 120deg, #2d3748 0%, transparent 180% ), url(../images/branding_image.jpg);
          border-radius: var(--radius);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.design{
  /* background-color: #48bb78; */
  display: grid;
  grid-template-columns: 1fr;
}

.design-btn{
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border: none;
  margin-bottom: 10%;
  margin-left: 5%;
}

.content{
  /* background-color: palegreen; */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}

.user{
  display: grid;
  grid-template-rows: 50% 50%;
}

.name{
  margin-top: 30%;
}

.timing{
  display: none;
  font-weight: 400;
}

.user-img{
  display: none;
}

.user-btn{
  display: none;
}

.user-info .name{
  font-weight: 400;
  color:#e2e8f0;
}

.design-btn-1{
  color: #667eea;
}

/* 
=============
Card
=============
 */
.card{
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  border-radius: var(--radius);
}

.card-main{
  background-color: #fff;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.75rem;
  border-left: 0.3rem solid #a3bffa;

}

.card-main:hover{
  transform: translateY(-0.35rem);
  transition: var(--transition);
}

.img{
  /* background-color: black; */
  padding: 0.4rem 0.5rem;
  padding-right: 0.1rem;
}

.photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

.info a{
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 10px;
  background-color: #d6bcfa;
  padding: 0.25rem 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.65rem;
  letter-spacing: 1px;
  font-weight: 540;
}

.info h3{
  color: black;
  font-weight: 500;
  padding-right: 0.5rem;
  margin-bottom: 0.75rem;
}

.bottom-line{
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: var(--primary-text-color);
  justify-self: end;
  padding-right: 0.5rem ;
}

.bottom-line .title{
  font-weight: 600;
}

.bottom-line h4{
  font-size: 12px;
  font-weight: 200;
}
/* 
=============
Side-bar
=============
 */

.sidebar{
  background-color: #edf2f6;
  border-radius: var(--radius);
  padding: 2rem;
  display: none;
  grid-template-rows: auto 3rem;
}

.handshake{
  font-size: 3.5rem;
  color: #9f7aea;
}

.heading{
  margin-top: 1.75rem;
}

.sidebar-content{
  margin-top: 1rem;
  max-width: 13rem;
  margin-bottom: 1rem;
}

.sidebar ul{
  margin-bottom: 1rem;
}

.sidebar li{
  margin-top: 0.5rem;
  color: var(--primary-text-color);
  font-size: 0.875rem;
  font-weight: 300;
  list-style-position: inside;
  padding-left: 0;
  
}

li::marker {
  color: #48bb78;
  font-size: 15px;
  padding-left: 1px;
  margin: 0px 7px 0px 0px;
}

.sidebar-btn{
  text-decoration: none;
  background-color: #667eea;
  padding: 0.75rem 1.5rem;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 10rem;
  margin: auto auto; 
  text-align: center;
}

@media screen and (min-width:500px) {

  .branding_and_card{
    grid-template-rows: 40% 60%;
  }

  .card{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .branding{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
  }

  .content{
    order: 2;
  }

  .design{
    order: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 45% 55%;
    margin-top: 10px;
  }

  .btn-container{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%  ;
    margin-left: 10%;
  }

  .timing{
    display: block;
    color: #e2e8f0;
    font-size: 0.5;
    font-weight: 400;
  }
  
  .user-img{
    display: block;
  }

  .name{
    margin-top: 0%;
  }

  .user{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    margin-top: 20px;
  }

  .user-photo{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: var(--primary-text-color);
    align-self: center;
    transition: var(--transition);
  }

  .user-photo:hover{
    background-color: #ebf4ff;
  }

  .user-info{
    margin-left: 10px;
    align-self: center;
  }

  .content{
    padding-top: 20px;
  }

  .user-btn{
    display: block;
    margin-top: 20px;
  }

  .user-btn-1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: var(--primary-text-color);
    margin-right: 10px;
    font-weight: bold;
    transition: var(--transition);
  }

  .user-btn-1:hover{
    background-color: #667eea;
    color: white;
  }

  .content h1{
    font-size: 1.25rem;
    line-height: 1.25;
  }

  .design-btn-1{
    color: #667eea;
  }
}

@media screen and (min-width:768px) {
  .user-info{
    margin-left: 0;
  }
}

@media screen and (min-width:1024px) {
  .section-center{
    grid-template-columns: 3fr 1fr;
  }

  .sidebar{
    display: grid;
  }

  .bottom-line{
    grid-template-columns: 1fr 1fr;
  }

  .user-btn{
    margin-top: 20px;
  }

  .content h1{
    font-size: 2rem;
  }
}






